body,
html,

*{
    font-size: 2.2 rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000000;
}


.container{
    justify-content: space-around;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    background-color: #ffffff;
}

.card{
    height: 70vh;
    width: 21%;
    margin: 2.9rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #006BA6;
    box-shadow: 5px 5px #ffffff;
}

.card-title{
  font-size: 1 rem;
  margin-top: 2rem ;
  color: #e8e9ed;
}

.card-img{
    width: 90%;
}

.card-price{
    font-size: 1.5rem;
    color: #e8e9ed;
}

.card:hover{
    background-color: #425eff;
    transform: scale(2, 0.8);
}

form{
    padding-bottom: 10px;
}

label{
    color: #425eff;
    width: 90 vw;
}